# Python
__pycache__/
*.py[cod]
.venv/

# Environment
.env

# Jupyter
.ipynb_checkpoints/

# Data files
data/raw/*
data/processed/*
data/warehouse/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/warehouse/.gitkeep

# OS
.DS_Store
Thumbs.db

# Local SQLite database
data/database/*

# Machine Learning generated artifacts

# Trained ML models
src/ml/models/*.pkl

# Large ML intermediate datasets
data/ml/customer_behavior_features.csv
data/ml/customer_clustering_features.csv
data/ml/customer_rfm.csv
data/ml/sales_features.csv
data/ml/sales_features_anomaly_aware.csv

# ML visualizations
data/ml/eda/
data/ml/visualizations/

# Delivery ML intermediate datasets
data/ml/delivery_prediction_dataset.csv
data/ml/delivery_features_train.csv
data/ml/delivery_features_test.csv