# Python
__pycache__/
*.py[cod]
.venv/

# Environment
.env

# Jupyter
.ipynb_checkpoints/

# Data files
data/raw/*
data/processed/*
data/warehouse/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/warehouse/.gitkeep

# OS
.DS_Store
Thumbs.db
